@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap");
@import "tailwindcss";

* {
  font-family: "Stack Sans Notch";
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button {
    cursor: pointer;
    border-radius: 8px;
  }
}
